[mol_book2_catalog_menu] {
	width: 50%;
}

[memento_sidebar] {
	min-width: 12rem;
	max-width: 12rem;
}

[memento_notes] {
	width: 70%;
}

[memento_page] {
	width: 50%;
}

[memento_sidebar] {
	padding-left: 1%;
}

[mol_page_head],
[memento_sidebar],
[memento_menu_body],
[memento_memento_notes_link] {
	border: 1px solid #969696;
	background-color: #f9f9f9;
	border-radius: 0px;
}

[memento_memento_notes_link] {
	margin-left: -1px;
}

[memento_memento_notes_links] {
	padding: 0px;
}

[mol_expander_content] {
	padding-left: 10%;
}

/* search bar */
[mol_pop_bubble] {
	background: #ebebeb;
}

/* [memento_notes_search_query] { */
[mol_string] {
	border-radius: 0px;
}

[mol_link] {
	color: #363636;
}

[memento_notes_text] {
	flex: none;
	height: fit-content;
}


[memento_note_card_title_container],
[memento_note_images_title_container],
[memento_note_text_title_container] {
	justify-content: space-between;
}

[memento_note_images] {
	height: 4rem;
}

[memento_note_text_ico] {
	margin-right: 1rem;
}

[memento_notes_menu_link],
[memento_notes_menu_body] {
	padding: 0px;
}

[memento_notes_memento_note_title_container] {
	padding-bottom: .5rem;
}

[memento_note_images],
[memento_note_images_content],
[memento_note_card],
[memento_note_card_content],
[memento_note_text],
[memento_note_text_content] {
	width: 100%;
}

[memento_note_images_content],
[memento_note_card_content],
[memento_note_text_content] {
	padding: 1rem;
	border: none;
	border-bottom: 1px solid #969696;
}

[memento_note_images_container] {
	height: 4rem;
}

/* welcomespread */
[memento_notes_welcomespread] {
	align-items: center;
	margin: auto;
}

[memento_notes_welcomespreadicon] {
	height: 25%;
	width: 25%;
}

[memento_notes_welcomespread]::before {
	content: unset !important;
}

[memento_notes_welcomespreadtext] {
	line-height: .5em;
}

[mol_text_type="strong"] {
	text-shadow: 0 0;
	color: black;
}
