[mol_book2_catalog_menu] {
	width: 50%;
}

[memento_page] {
	width: 50%;
}

[memento_sidebar] {
	padding-left: 1%;
}

[mol_page_head],
[memento_sidebar],
[memento_menu_body],
[memento_memento_content_link] {
	border: 1px solid #969696;
	background-color: #f9f9f9;
	border-radius: 0px;
}

[memento_memento_content_link] {
	margin-left: -1px;
}

[memento_memento_content_links] {
	padding: 0px;
}

[mol_expander_content] {
	padding-left: 10%;
}

/* search bar */
[mol_pop_bubble] {
	background: #ebebeb;
}

/* [memento_content_search_query] { */
[mol_string] {
	border-radius: 0px;
}

[mol_link] {
	color: #363636;
}

[memento_content_text] {
	flex: none;
	height:fit-content;
}


[memento_item_card_title_container],
[memento_item_images_title_container],
[memento_item_text_title_container] {
	justify-content: space-between;
}

[memento_item_images] {
	height: 4rem;
}

[memento_item_text_ico] {
	margin-right: 1rem;
}

[memento_content_menu_link],
[memento_content_menu_body] {
	padding: 0px;
}

[memento_content_memento_item_title_container] {
	padding-bottom: .5rem;
}

[memento_item_images],
[memento_item_images_content],
[memento_item_card],
[memento_item_card_content],
[memento_item_text],
[memento_item_text_content] {
	width: 100%;
}

[memento_item_images_content],
[memento_item_card_content],
[memento_item_text_content] {
	padding: 1rem;
	border: none;
	border-bottom: 1px solid #969696;
}

[memento_item_images_container]{
	height: 4rem;
}
